C:/Users/narum/Documents/mysite/static/teacher/p57/Q1/57_1_asai.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q1/57_1_hirano.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q1/57_1_inagaki.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q1/57_1_inoue.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q1/57_1_mochi.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q1/57_1_ohashi.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q1/57_1_osada.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q1/57_1_sano.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q1/57_1_takada.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q1/57_1_takahashi.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q1/57_1_yamada.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q1/57_2_yamada.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q2/57_2_takahashi.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q2/57_2_takada.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q2/57_2_sano.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q2/57_2_osada.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q2/57_2_ohashi.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q2/57_2_mochi.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p57/Q2/57_2_inoue.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q1/82_1_asai.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q1/82_1_hirano.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q1/82_1_inagaki.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q1/82_1_inoue.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q1/82_1_mochi.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q1/82_1_ohashi.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q1/82_1_osada.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q1/82_1_sano.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q1/82_1_takada.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q1/82_1_takahashi.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q1/82_1_yamada.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q2/82_2_asai.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q2/82_2_hirano.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q2/82_2_inagaki.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q2/82_2_inoue.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q2/82_2_mochi.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q2/82_2_ohashi.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q2/82_2_osada.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q2/82_2_sano.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q2/82_2_takada.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q2/82_2_takahashi.wav filter=lfs diff=lfs merge=lfs -text
C:/Users/narum/Documents/mysite/static/teacher/p82/Q2/82_2_yamada.wav filter=lfs diff=lfs merge=lfs -text
